@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #191919;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sec-1 h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: #666666;
  padding-bottom: 20px;
  -webkit-text-stroke: 0.2px white;
  color: transparent;
  user-select: none;
  text-align: center;
}
#sec-1 h2 {
  user-select: none;
  display: block;
  width: fit-content;
  font-size: 1.7rem;
  color: white;
  padding-bottom: 15px;
  -webkit-text-stroke: 0.4px black;
  margin-left: 3%;
}
#sec-1 span {
  color: orange;
}
#sec-1 {
  position: relative;
}
.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  position: absolute;
  left: 49%;
  bottom: 10px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -70%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1.3s ease-in-out infinite;
}
.scroll-down::after {
  top: 20%;
  animation-delay: 0.3s;
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
#sec-2 {
  display: flex;
  width: fit-content;
  font-size: 3rem;
  position: relative;
  color: #666666;
  padding-bottom: 20px;
  -webkit-text-stroke: 0.2px white;
  color: transparent;
  user-select: none;
  text-align: left;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 20%;
}
#sec-2 span {
  color: orange;
  -webkit-text-stroke: 0;
}
#sec-2 h4 {
  color: white;
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 5%;
}
#sec-2 a {
  text-decoration: none;
  cursor: pointer;
  color: orange;
}
#sec-1 img {
  -webkit-filter: grayscale(1) invert(1);
  display: inline-block;
  align-items: center;
  margin-left: 8%;
  justify-content: space-between;
  width: 2.1rem;
  margin-top: 4%;
}
.brake {
  margin-top: 5%;
}
.back_home {
  margin-left: 0;
  margin-top: 20%;
  color: #e09200;
  font-weight: 200;
  font-size: 1.6rem;
  -webkit-text-stroke: 0.2px black;
}

#sec-3 {
  display: flex;
  width: fit-content;
  font-size: 3rem;
  position: relative;
  color: #666666;
  padding-bottom: 20px;
  -webkit-text-stroke: 0.2px white;
  color: transparent;
  user-select: none;
  text-align: left;
  margin-left: 18%;
}
#sec-3 a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 166, 0);
  font-size: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-gap: 3rem;
  align-items: center;
  width: 15rem;
  margin-top: 20%;
  margin-left: -10%;
}
.grid img {
  width: 500px;
  height: 230px;
}
.grid > article {
  background: #222222;
  border: none;
  box-shadow: 2px 2px 6px 0px #666666;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s;
}
.text p {
  font-size: 1.5rem;
  color: whitesmoke;
  -webkit-text-stroke: 0;
}
.grid > article:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 6px 0px #707070;
}
.grid > article img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.text {
  padding: 0 20px 20px;
}
.text button {
  background: #666666;
  border-radius: 20px;
  border: none;
  color: #fff;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  #sec-2 {
    margin-left: 5%;
  }
  #sec-2 h4 {
    font-size: 1.4rem;
  }
  #sec-3 {
    margin-left: 5%;
  }
  .grid {
    grid-template-columns: repeat(1, 3fr);
    width: 50rem;
    margin-left: 16%;
  }
}
@media only screen and (max-width: 610px) {
  .grid {
    margin-left: 3%;
    margin-top: 10%;
  }
  .back_home {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 550px) {
  .grid {
    width: 10rem;
    margin-left: 0%;
  }
}
@media only screen and (max-width: 500px) {
  .grid img {
    width: 400px;
    height: 200px;
  }
  .grid {
    margin-left: 13%;
  }
  #sec-2 .scroll-down {
    margin-left: -12px;
  }
}
@media only screen and (max-width: 376px) {
  .grid {
    margin-left: 0;
  }
  .grid img {
    width: 320px;
    height: auto;
  }
}
